/* Style the form */
form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Style the input fields */
  input[type="text"] {
    width: 20%;
    height: 40px;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  input[type="number"] {
    width: 20%;
    height: 40px;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  input[type="date"] {
    width: 20%;
    height: 40px;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  input[type="time"] {
    width: 20%;
    height: 40px;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }


  .select {
    /* Remove default styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    /* Add custom styles */
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .select option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .select option:hover {
    background-color: #f0f0f0;
  }
  
  .select option:selected {
    background-color: #ccc;
    color: #fff;
  }
  /* Style the placeholder text */
  input[type="text"]::placeholder {
    color: #aaa;
    font-size: 16px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Focus effect for the input fields */
  input[type="text"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Make the input fields inline-block */
  input[type="text"] {
    display: inline-block;
  }